@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* GLOBALS */
:root {
    --primary-linear: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
    --input-errors: hsl(0, 100%, 66%);
    --light-graysih-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

label {
    font-size: 0.8rem;
    color: var(--primary-linear);
    line-height: 30px;
}

input {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid var(--light-graysih-violet);
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    background: var(--very-dark-violet);
    color: white;
    padding: 0.75rem;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

::placeholder {
    color: var(--dark-grayish-violet);
}


/* CONTAINER */
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}


/* IMAGE SECTION */
.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-section .main-bg {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.image-section .main-bg-mobile {
    display: none;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 447px;
    height: 530px;
}

.front-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 12rem;
    border-radius: 10px;
    background-image: url('images/bg-card-front.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: white;


    .card-logo {
        position: absolute;
        top: 30px;
        left: 40px;
    }
    
    .card-number {
        p {
            font-size: 1.8rem;
            font-weight: 500;
            margin: 0;
            line-height: 2; 
        }
    }

    .card-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p, span {
            font-size: 0.8rem;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}

.back-card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url('images/bg-card-back.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    .cvv {
        position: absolute;
        top: 49%;
        left: 85%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
        font-weight: 500;
        color: white;
    }
}


/* FORM SECTION */
.form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.input-error {
    display: none;
    color: var(--input-errors);
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

.card-type,
.exp-date,
.cvv {
    margin-bottom: 1rem;
}

.card-info {
    width: 100%;
    max-width: 400px;
}

.final-info {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.date-input {
    display: flex;
    gap: 0.5rem;
}

.date-input input {
    width: 80px;
}

/* Complete form */
.completation {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;

    p {
        color: var(--dark-grayish-violet);
        margin-top: 0;
    }
}


/* Responsive */
@media screen and (max-width: 1350px) {
    body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image-section .main-bg {
        display: none;
    }

    .image-section .main-bg-mobile {
        display: flex;
        width: 100dvw;
        max-width: 100%;
        height: 240px;
    }

    .cards {
        top: auto;
        left: auto;
        transform: none;
        width: auto;
    }

    .front-card {
        height: 150px;
        width: 280px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin: 0;
        top: 20%;
        right: 8%;
        z-index: 99999;

        .card-logo {
            position: absolute;
            top: 20px;
            left: 20px;
            height: 35px;
        }
        
        .card-number {
            p {
                font-size: 1.2rem;
                font-weight: 500;
                margin: 0;
                line-height: 2;
            }
        }
    
        .card-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            p, span {
                font-size: 0.7rem;
                font-weight: 300;
                text-transform: uppercase;
            }
        }
    }

    .back-card {
        position: absolute;
        height: 150px;
        width: 280px;
        padding: 0;
        margin: 0;
        left: 8%;
        .cvv {
            position: absolute;
            font-size: 0.8rem;
            font-weight: 500;
            color: white;
        }
    }

    .form-section {
        align-items: normal;
        margin-top: 3rem;
    }
}

